<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>lingvo.png</string>
			<key>Service Name</key>
			<string>Look Up in Lingvo Dictionary</string>
			<key>Title</key>
			<string>Look Up in Lingvo Dictionary</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Look Up in Lingvo Dictionary with the selected text.</string>
	<key>Extension Identifier</key>
	<string>com.nikolalek.popclip.extension.lingvodictionary</string>
	<key>Extension Name</key>
	<string>Lingvo Dictionary</string>
	<key>Required OS Version</key>
	<string>10.7</string>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
